MarketWeb/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MarketSurrogate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MarketSurrogate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TB_UserSurrogate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_UserSurrogate" nillable="true" type="tns:TB_UserSurrogate" />
  <xs:complexType name="ArrayOfTB_ColorSurrogate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_ColorSurrogate" nillable="true" type="tns:TB_ColorSurrogate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_ColorSurrogate" nillable="true" type="tns:ArrayOfTB_ColorSurrogate" />
  <xs:complexType name="TB_ColorSurrogate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColoID" type="xs:int" />
      <xs:element minOccurs="0" name="ColorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_ColorSurrogate" nillable="true" type="tns:TB_ColorSurrogate" />
  <xs:complexType name="ArrayOfTB_CitySurrogate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_CitySurrogate" nillable="true" type="tns:TB_CitySurrogate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_CitySurrogate" nillable="true" type="tns:ArrayOfTB_CitySurrogate" />
  <xs:complexType name="TB_CitySurrogate">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityID" type="xs:int" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_CitySurrogate" nillable="true" type="tns:TB_CitySurrogate" />
  <xs:complexType name="ArrayOfTB_CategorySurrogate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_CategorySurrogate" nillable="true" type="tns:TB_CategorySurrogate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_CategorySurrogate" nillable="true" type="tns:ArrayOfTB_CategorySurrogate" />
  <xs:complexType name="TB_CategorySurrogate">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_CategorySurrogate" nillable="true" type="tns:TB_CategorySurrogate" />
  <xs:complexType name="ArrayOfTB_ProductSurrogate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_ProductSurrogate" nillable="true" type="tns:TB_ProductSurrogate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_ProductSurrogate" nillable="true" type="tns:ArrayOfTB_ProductSurrogate" />
  <xs:complexType name="TB_ProductSurrogate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:TB_CategorySurrogate" />
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:TB_CitySurrogate" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="tns:TB_ColorSurrogate" />
      <xs:element minOccurs="0" name="DateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_ProductSurrogate" nillable="true" type="tns:TB_ProductSurrogate" />
</xs:schema>